.btn {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  font-family: $base-font;
  font-size: 16px;
  line-height: 21px;
  color: white;
  font-weight: normal;
  background: linear-gradient(#feab16,#ff7500) $orange;
  padding: 10px 30px;
  border-radius: 4px;
  border: 2px solid $orange;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 3px 1px #D2D2D2;


  &:hover {
    background: #ff9451;
  }

  &:active {
    background: #f5843e;
  }
}

.btn--call {
  float: right;
  max-width: 210px;
}

.btn--features {
  min-width: 155px;
}

.btn--houses {
  min-width: 155px;
  margin-left: 60px;
}

.btn--form-submit {
  width: 390px;
  box-sizing: border-box;
  height: 55px;
  font-size: 20px;
  text-shadow: -1px 1px 1px #444;
}

.btn--footer {
  width: 100%;
  display: block;
  text-shadow: -1px 1px 1px #444;
  font-size: 20px;
  height: 55px;
  box-shadow: 0 0 3px 1px #787575;
}

.btn--popup {
  width: 280px;
  box-sizing: border-box;
  display: inline-block;
  transition: none;
}

.btn-link {
  font-size: 15px;
  color: #029dff;
  display: block;
  margin-top: 4px;
  font-size: 17px;

  &--footer {
    font-size: 18px;
    display: inline-block;
  }

}
