input[type="text"],
textarea,
select,
input[type="password"] {
  border: none;
  outline: none;
  background: white;
  box-shadow: 1px -1px 1px 0px #eceaea;
  border: 1px solid #f1f2f6;
  box-sizing: border-box;
  width: 100%;
  height: 55px;
  color: $grey;
  border-radius: 4px;
}

label {
  cursor: pointer;
}

button {
  outline: none;
  cursor: pointer;
}

input::-webkit-input-placeholder {
  opacity: 0.8;
}
input::-moz-placeholde {
  opacity: 0.8;
}
