input[type="text"],
textarea,
select,
input[type="password"] {
  border: none;
  outline: none;
  background: white;
  box-shadow: 1px -1px 1px 0px #eceaea;
  border: 1px solid #f1f2f6;
  box-sizing: border-box;
  width: 100%;
  height: 55px;
  color: $grey;
  border-radius: 4px;
  padding: 5px 30px;
}

textarea:hover,
textarea:focus,
input[type="text"]:hover,
input[type="text"]:focus {
  border: 1px solid #b7b7b7;
}

label {
  cursor: pointer;
}

button {
  outline: none;
  cursor: pointer;
}

input::-webkit-input-placeholder {
  opacity: 0.8;
}
input::-moz-placeholde {
  opacity: 0.8;
}

select {
  appearance: none;
  background: white url("../img/arrow-select.png") no-repeat right;
  cursor: pointer;
  padding-right: 15px;
  padding-left: 15px;
}

textarea {
  width: 100%;
  height: 205px;
  resize: none;
  padding-top: 15px;
}

input[type="hidden"] {
  width: 1px;
  height: 1px;
  opacity: 0;
}
