body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  background: white;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  @include clearfix;

  &--slider {
    padding: 0 80px;
    width: 1040px;
  }

  &--calculation {
    padding: 0 70px;
    width: 1060px;
  }

  &--footer {
    padding: 0 50px;
    width: 1100px;
  }

  &--overflow {
    overflow: hidden;
  }
}
