body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  background: white;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  @include clearfix;

  &--slider {
    padding: 0 80px;
    width: 1040px;
  }
}
