body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  background: white;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  @include clearfix;

  &--slider {
    padding: 0 80px;
    width: 1040px;
    position: relative;
    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 9999;
    }
    &--1 {

      &:after {
        background: url("../img/slider-img-1.png") no-repeat;
        width: 310px;
        height: 399px;
        bottom: -85px;
      }
    }

    &--2 {


      &:after {
        background: url("../img/slider-img-2.png") no-repeat;
        width: 279px;
        height: 409px;
        bottom: -60px;
      }
    }

    &--3 {


      &:after {
        background: url("../img/slider-img-3.png") no-repeat;
        width: 332px;
        height: 418px;
        bottom: -125px;
      }
    }
  }

  &--calculation {
    padding: 0 70px;
    width: 1060px;
  }

  &--footer {
    padding: 0 50px;
    width: 1100px;
  }

  &--overflow {
    overflow: hidden;
  }
}
