@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin titles {
  font-family: $Panton;
  font-size: 50px;
  line-height: 50px;
  color: $orange;
  margin: 0;
  font-weight: normal;
}

@mixin description {
  color: #646464;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}
