.features-block {
  margin-top: 175px;


}

.features {
  font-size: 0;
}

.feature {
  font-family: $base-font;
  font-size: 17px;
  line-height: 21px;
  display: inline-block;
  vertical-align: top;
  width: 250px;
}
