.features-block {
  padding-bottom: 115px;
}

.features__title {
  @include titles;
  transform: translateY(-20px);
  margin-bottom: 45px;
}

.features {
  font-size: 0;
}

.feature {
  font-family: $base-font;
  font-size: 17px;
  line-height: 21px;
  display: inline-block;
  vertical-align: top;
  width: 260px;
  margin-right: 40px;
  &:last-child {
    margin-right: 0;
  }

  &__title {
    font-family: $base-font;
    font-size: 25px;
    line-height: 29px;
    color: $orange;
    margin: 0;
    margin: 40px 0;
    font-weight: normal;
  }

  &:before {
    content: "";
    width: 100px;
    height: 85px;
    background: $grey;
    display: block;
  }

  &__tip {
    color: #818181
  }

  &__description {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 25px;
  }
}
