.features-block {
  padding-bottom: 70px;
}

.features__title {
  @include titles;
  transform: translateY(-20px);
  margin-bottom: 55px;
}

.features {
  font-size: 0;
}

.feature {
  font-family: $base-font;
  font-size: 17px;
  line-height: 21px;
  display: inline-block;
  vertical-align: top;
  width: 260px;
  margin-right: 40px;
  &:last-child {
    margin-right: 0;
  }

  &__title {
    font-family: $base-font;
    font-size: 25px;
    line-height: 29px;
    color: $orange;
    margin: 0;
    margin: 50px 0 40px;
    font-weight: normal;
  }

  &:before {
    content: "";
    display: block;
  }

  &--1:before {
    background: url("../img/feature1.png") no-repeat;
    width: 108px;
    height: 87px;
    margin-left: 56px;
  }

  &--2:before {
    background: url("../img/feature2.png") no-repeat;
    width: 76px;
    height: 85px;
    margin-left: 56px;
  }

  &--3:before {
    background: url("../img/feature3.png") no-repeat;
    width: 85px;
    height: 85px;
    margin-left: 50px;
  }

  &--4:before {
    background: url("../img/feature4.png") no-repeat;
    width: 85px;
    height: 85px;
    margin-left: 76px;
  }

  &__tip {
    color: #818181
  }

  &__description {
    margin: 0;
    margin: 15px 0 27px;
  }
}
