.qualification-slider__big-imagesddd {
  display: none;
}

.qualification {
  padding-top: 85px;

  &__title {
    @include titles;
    margin: 0;
    padding-left: 100px;
  }

  &__description {
    @include description;
    margin-top: 25px;
    text-align: center;
  }
}


.qualification-slider {
  background-color: #ffffff;
  position: relative;

  &__controls {
    position: absolute;
    bottom: 35px;
    transform: translateX(-50%);
    left: 50%;
    font-size: 0;
    display: none;
  }

  &__control {
    width: 66px;
    height: 7px;
    background: #e8e8e8;
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
    border-radius: 4px;
    &:last-child {
      margin-right: 0;
    }

    &--active {
      background: linear-gradient(#feab16,#ff7500) $orange;
    }
  }

  &__arrow {
    font-size: 0px;
    text-decoration: none;
  }

  &__small-images {
    font-size: 0px;
  }

  &__preview-image {
    font-size: 0px;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 60px;
    margin-right: 60px;
    width: 228px;
    &:nth-child(4n+4) {
      margin-right: 0;
    }
    img {
      display: block;
      width: 228px;
    }
  }
}


.overlay {
    background-color: black; /* Цвет фона */
    opacity: 0; /* Изначально непрозрачный */
    position: fixed; /* Фиксированное позиционирование */
    z-index: 9980;
    right: 0;    /* Справа 0 */
    top: 0;    /* Сверху 0 */
    left: 0;    /* Слева 0 */
    bottom: 0;    /* Снизу 0 */
    visibility: hidden; /* Изначально невидимый */

    /* transition старт */
    transition: 0.5s ease;
}

.overlay:target {
    visibility: visible; /* Делает видимым */
    opacity: 0.8;    /* Фон становится полностью прозрачным */
}

.qualification-slider__big-images {
    position: fixed;    /* Фиксированное расположение */
    visibility: hidden;    /* Изначально - спрятан */
    z-index: 9999;    /* z-index */
    transform: translateX(-50%);
    left: 45%;
    top: 0px;

    img {
      display: block;
      height: 600px;
      width: 576px;
    }
}

.overlay:target+.qualification-slider__big-images {
    opacity: 1; /* Убирает прозрачность */
    visibility: visible; /* Делает видимым */
}
