.slider {
  position: relative;
  background-image: url(../img/slider-bg.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% 90%;

  &__controls {
    position: absolute;
    bottom: 10px;
    transform: translateX(-50%);
    left: 50%;
    font-size: 0;
    display: none;
  }

  &__control {
    width: 13px;
    height: 7px;
    background: #e8e8e8;
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
    border-radius: 1px;
    &:last-child {
      margin-right: 0;
    }

    &--active {
      background: linear-gradient(#feab16,#ff7500) $orange;
    }
  }


  &__title {
    font-family: $Panton;
    font-size: 30px;
    line-height: 15px;
    color: #e7e7e7;
    font-weight: normal;
    width: 732px;
    margin: 0;
    margin: 35px 0 25px;
  }

  &__description {
    color: #b0b0b0;
    font-size: 20px;
    line-height: 25px;
    width: 732px;
    margin: 0;
  }
}

.slide {
  padding: 100px 0 65px;
  position: relative;
}

.fotorama__nav-wrap {
  position: absolute;
  left: 0;
  bottom: 0px;
}

.fotorama__dot {
  width: 13px;
  height: 7px;
  background: #e8e8e8;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
  border-radius: 3px;
  border: none;
  &:last-child {
    margin-right: 0;
  }
}

.fotorama__nav--dots .fotorama__nav__frame {

}

.fotorama__nav__frame.fotorama__active .fotorama__dot {
  background: linear-gradient(#feab16,#ff7500) $orange;
  width: 13px;
  height: 7px;
  border: none;
  border-radius: 2px;
}
